.genderfilter-container {
	display: flex;
	flex-direction: column;
}

.main-text {
	background: var(--element-background);
	margin: 2rem;
	font-size: 1.25em;
	padding: 2rem;
	border-radius: 2rem;
}

.button-container {
	display: grid;
	gap: 1.25rem;
	justify-items: center;
	grid-template-areas:
		"M . F"
		". N .";
}

.gender-buttons {
	background: var(--button-background);
}
.gender-buttons img {
	width: 100%;
}

#masculine {
	grid-area: M;
	grid-column: 1;
	grid-row: 1;
	box-shadow: 1px 2px 10px black;
	border-radius: 4.3rem;
	height: 100px;
	width: 100px;
}

#feminine {
	grid-area: F;
	grid-column: 3;
	grid-row: 1;
	box-shadow: 1px 2px 10px black;
	border-radius: 4.3rem;
	height: 100px;
	width: 100px;
}

#neutral {
	grid-area: N;
	grid-column: 2;
	grid-row: 2;
	box-shadow: 1px 2px 10px black;
	border-radius: 4.3rem;
	height: 100px;
	width: 100px;
}
