body {
	text-align: center;
	background: var(--app-background);
	list-style: none;
	margin: 0;
}

h1,
h2,
p {
	font-family: var(--main-font);
	color: var(--font-color);
}

@font-face {
	font-family: "DynaPuff";
	src: url("/src/fonts/DynaPuff-Regular.ttf");
	font-weight: normal;
}
