:root {
	--app-background: linear-gradient(#f2059f, #6929f2);
	--element-background: #f25c5c;
	--button-background: linear-gradient(#f2059f, #f20505);
	--nav-background: linear-gradient(#6929f2, #f2059f);
}
