.profile-card {
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	margin: 2rem;
}

.profile-card img {
	width: 80%;
}

.front {
	display: flex;
	justify-content: flex-end;
	min-height: 31.25rem;
	padding: 1rem;
	background-size: cover;
	background-position: center;
}

#logo-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#profile-info-container {
	display: flex;
	align-items: end;
	width: 100%;
	padding: 0.6rem;
	font-size: 0.7em;
}

#like-logo {
	width: 3.2rem;
	height: 3.2rem;
	margin: 1rem;
	cursor: pointer;
}
